.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    min-height: 450px;
    background-color: #17bb9b;
    margin: 24px;
    color: white;
    padding: 24px;
}

.name {
    text-align: center;
    margin: 36px 0 0 0;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
}

.companyName {
    text-align: center;
    letter-spacing: 2px;
}

.quote {
    font-size: 24px;
}

h1 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

form {
    text-align: center;
}

.field {
    height: 24px;
    width: 350px;
}

textarea{
    height: 120px;
    width: 350px;
}

button {
    width: 150px;
    height: 50px;
    background: #49afcd;
    color: white;
    border: solid 1px black;
    font-size: 16px;
}

.form-container {
    width: 500px;
    clear: both;
}

.form-container input, textarea {
    width: 100%;
    clear: both;
}